@media screen and (max-width: 768px) {
    .container-menu{
        display: none;
    }
    .dropdown{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .mobile-menu{
        display: none;
    }
}